Repository Bit-Apps-Pro/file-manager: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

style-lint:
  run: pnpm stylelint {staged_files} --aei --fix --quiet

php-lint:
  run: composer lint

php-test:
  run: composer test {staged_files}

php-compatibility-check:
  run: composer compat {staged_files}

lint:
  run: pnpm eslint frontend

pretty:
  run: pnpm pretty:fix

ts-check:
  run: pnpm ts-check

fix: bundle Ace snippets and add WP-core CodeMirror editor
  .distignore
  .gitignore
  backend/app/Plugin.php
  backend/app/Providers/FileManager/ClientOptions.php
  backend/app/Providers/PreferenceProvider.php
  frontend/finder-loader.ts
  frontend/src/lib/elfinder/patches.ts
  frontend/src/lib/elfinder/types.ts
  frontend/src/pages/root/helpers/configureElFinder.ts
  languages/file-manager.pot
  libs/js/jquery-ui/images/ui-icons_444444_256x240.png
  libs/js/jquery-ui/images/ui-icons_555555_256x240.png
  libs/js/jquery-ui/images/ui-icons_777620_256x240.png
  libs/js/jquery-ui/images/ui-icons_777777_256x240.png
  libs/js/jquery-ui/images/ui-icons_cc0000_256x240.png
  libs/js/jquery-ui/images/ui-icons_ffffff_256x240.png
  libs/js/jquery-ui/jquery-ui.min.css
  libs/js/jquery-ui/jquery-ui.theme.min.css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  readme.txt
  tools/sync-ace-libs.mjs
  vite.config.mts
Due: style-lint, php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

chore: tested to wp 7.0
  backend/app/Providers/PreferenceProvider.php
  readme.txt
Due: php-lint, php-test, php-compatibility-check

chore: bump GitHub Actions to latest stable and document scrape API
  .github/workflows/deploy.yml
  .github/workflows/plugin-check.yml
  .github/workflows/test-all.yml
  backend/app/Providers/PhpSyntaxChecker.php
  backend/functions/common.php
Due: php-lint, php-test, php-compatibility-check

chore: removed unused code
  backend/functions/common.php
Due: php-lint, php-test, php-compatibility-check

feat: add pure path-boundary helper for permission scoping
  backend/app/Providers/PermissionsProvider.php
  tests/PathBoundaryTest.php
Due: php-lint, php-test, php-compatibility-check

feat: resolve enabled commands per target path
  backend/app/Providers/PermissionsProvider.php
  tests/EnabledCommandsForPathTest.php
Due: php-lint, php-test, php-compatibility-check

feat: add path-aware command authorization helpers
  backend/app/Providers/AccessControlProvider.php
  tests/CheckPermissionStrictTest.php
Due: php-lint, php-test, php-compatibility-check

feat: enforce per-user permission per target path across volumes
  backend/app/Providers/AccessControlProvider.php
Due: php-lint, php-test, php-compatibility-check

feat: align per-volume disabled-command hints with scope
  backend/app/Http/Controllers/FileManagerController.php
Due: php-lint, php-test, php-compatibility-check

feat: clarify user-permission modal is file-manager only
  frontend/src/pages/Permissions/ui/AddUserPermissionModal.tsx
Due: lint, pretty, ts-check

test: enable antd-component tests for the permission modal
  frontend/src/config/test.setup.ts
  frontend/src/pages/Permissions/ui/AddUserPermissionModal.test.tsx
  package.json
  pnpm-lock.yaml
  vite.config.mts
Due: lint, pretty, ts-check

fix: enforce path-aware check on file save and scope it to managed commands
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Providers/AccessControlProvider.php
Due: php-lint, php-test, php-compatibility-check

refactor: simplify permission resolvers and modal tooltip
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Providers/PermissionsProvider.php
  frontend/src/pages/Permissions/ui/AddUserPermissionModal.tsx
Due: php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

fix: gate upload destination paths against per-user confinement
  backend/app/Providers/AccessControlProvider.php
  tests/CheckPermissionStrictTest.php
Due: php-lint, php-test, php-compatibility-check

fix: normalize elFinder bind keys so the permission gate covers all commands
  backend/app/Providers/FileManager/Options.php
  tests/BindKeyNormalizationTest.php
Due: php-lint, php-test, php-compatibility-check

fix: canonicalize nonexistent target via parent in path boundary check
  backend/app/Providers/PermissionsProvider.php
  tests/EnabledCommandsForPathTest.php
Due: php-lint, php-test, php-compatibility-check

fix: raise antd popup z-index above the WP admin shell
  frontend/src/config/themes/common.ts
Due: lint, pretty, ts-check

fix: keep WP admin submenu active and stop elFinder hijacking the SPA URL
  backend/app/Config.php
  file-manager.php
  frontend/src/AppRoutes.tsx
  frontend/src/common/hooks/useSyncAdminMenu.tsx
  frontend/src/pages/root/helpers/configureElFinder.ts
  package.json
  readme.txt
Due: php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

feat: strict user permissions with notification, security & UX hardening
  backend/app/Config.php
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Http/Middleware/CapCheckerMiddleware.php
  backend/app/Http/Rules/ValidPathRule.php
  backend/app/Providers/AccessControlProvider.php
  backend/app/Providers/FileManager/FileRoot.php
  backend/app/Providers/FileManager/Options.php
  backend/app/Providers/MediaSynchronizer.php
  backend/app/Providers/PermissionsProvider.php
  backend/app/Views/Admin.php
  frontend/src/AppRoutes.tsx
  frontend/src/common/notificationInstance.ts
  frontend/src/lib/elfinder/notificationBridge.test.ts
  frontend/src/lib/elfinder/notificationBridge.ts
  frontend/src/lib/elfinder/types.ts
  frontend/src/pages/Layout/ui/Navigation/TopNavigation/TopNavigation.tsx
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/Permissions/ui/AddUserPermissionModal.test.tsx
  frontend/src/pages/Permissions/ui/AddUserPermissionModal.tsx
  frontend/src/pages/Permissions/ui/Permissions.tsx
  frontend/src/pages/Settings/ui/Settings.tsx
  frontend/src/pages/root/helpers/configureElFinder.ts
  frontend/src/types/finder.d.ts
  tests/CheckPermissionStrictTest.php
  vite.config.mts
Due: php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

ci: silence intentional is_writable() sniff, gitignore *.tsbuildinfo
  .gitignore
  backend/app/Providers/PhpSyntaxChecker.php
Due: php-lint, php-test, php-compatibility-check

style: apply php-cs-fixer class-element ordering
  backend/app/Providers/PermissionsProvider.php
Due: php-lint, php-test, php-compatibility-check

fix: address PR review comments
  backend/app/Providers/PermissionsProvider.php
  frontend/src/common/hooks/useSyncAdminMenu.tsx
  vite.config.mts
Due: php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

Path conditions:
  style-lint: any of: *.{css,scss}
  php-lint: any of: *.php
  php-test: any of: *php
  php-compatibility-check: any of: backend/**/*.php
  lint: any of: *.{js,ts,jsx,tsx}
  pretty: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
