Repository Bit-Apps-Pro/file-manager: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

lefthook.yml:

pre-push:
  parallel: true
  commands:
    style-lint:
      glob: '*.{css,scss}'
      run: pnpm stylelint {staged_files} --aei --fix --quiet

    php-lint:
      glob: '*.php'
      run: composer lint
    php-test:
      glob: '*php'
      run: composer test {staged_files}
    php-compatibility-check:
      glob: 'backend/**/*.php'
      run: composer compat {staged_files}

    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint frontend
    pretty:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm pretty:fix
    ts-check:
      glob: '*.{ts,tsx}'
      run: pnpm ts-check

commit-msg:
  commands:
    commit-lint:
      run: pnpm commitlint --edit {1}

github-actions:
  parallel: true
  commands:
    lint:
      run: pnpm eslint frontend
    lint-css:
      run: pnpm lint:css
    lint-php:
      run: composer lint
    php-compatibility-check:
      run: composer compat
    prettier:
      run: pnpm pretty:fix
    test-js:
      run: pnpm test
    ts-check:
      run: pnpm ts-check
    # require db conn
    # test-php:
    #   run: composer test:unit

chore: updated test-all gh action
  .github/workflows/deploy.yml
  .github/workflows/test-all.yml
Due: none

chore: force save cache to avoid cache being saved if test/lint failed
  .github/workflows/test-all.yml
Due: none

chore: separated cache save and restore
  .github/workflows/test-all.yml
Due: none

fix: set cache key for save
  .github/workflows/test-all.yml
Due: none

Chore: plugin check gh action
  .distignore
  .github/workflows/plugin-check.yml
  backend/app/Providers/FileEditValidator.php
  backend/functions/common.php
  backend/functions/global.php
  backend/hooks/ajax.php
  backend/hooks/api.php
  composer.lock
  file-manager.php
Due: php-lint, php-test, php-compatibility-check

Update backend/app/Providers/FileEditValidator.php
  backend/app/Providers/FileEditValidator.php
Due: php-lint, php-test, php-compatibility-check

fix: phpcs issues
  backend/app/Config.php
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Http/Controllers/SettingsController.php
  backend/app/Http/Middleware/NonceCheckerMiddleware.php
  backend/app/Plugin.php
  backend/app/Providers/AccessControlProvider.php
  backend/app/Providers/FileEditValidator.php
  backend/app/Providers/FileManager/FinderConnector.php
  backend/app/Providers/MimeProvider.php
  backend/app/Providers/PermissionsProvider.php
  backend/app/Providers/VersionMigrationProvider.php
  backend/config/app.php
  backend/functions/common.php
  backend/functions/global.php
  vite.config.mts
Due: php-lint, php-test, php-compatibility-check

fix: phpcs lint
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Providers/FileEditValidator.php
  backend/app/Providers/MimeProvider.php
  backend/app/Providers/VersionMigrationProvider.php
  backend/functions/global.php
Due: php-lint, php-test, php-compatibility-check

feat: syntax check using loopback request
  backend/app/Providers/FileEditValidator.php
  backend/app/Providers/PhpSyntaxChecker.php
  backend/config/app.php
Due: php-lint, php-test, php-compatibility-check

chore: phpcs lint
  backend/app/Providers/FileEditValidator.php
  backend/app/Providers/PhpSyntaxChecker.php
  backend/config/app.php
Due: php-lint, php-test, php-compatibility-check

chore: execlude libs from plugin check
  .github/workflows/plugin-check.yml
Due: none

chore: phpcs lint
  backend/app/Providers/AccessControlProvider.php
  backend/app/Providers/PhpSyntaxChecker.php
Due: php-lint, php-test, php-compatibility-check

chore: phpcs lint
  backend/app/Providers/PhpSyntaxChecker.php
Due: php-lint, php-test, php-compatibility-check

chore: bumped version
  backend/app/Config.php
  file-manager.php
  readme.txt
Due: php-lint, php-test, php-compatibility-check

fix: version mismatch
  readme.txt
Due: none

fix: plugin check errors
  backend/app/Providers/AccessControlProvider.php
  backend/app/Providers/FileEditValidator.php
  backend/app/Providers/PhpSyntaxChecker.php
Due: php-lint, php-test, php-compatibility-check

fix: version mismatch with config
  backend/app/Config.php
  package.json
  readme.txt
Due: php-lint, php-test, php-compatibility-check

fix: version mismatch with config
  file-manager.php
Due: php-lint, php-test

fix: esc
  backend/app/Providers/AccessControlProvider.php
  backend/app/Providers/FileEditValidator.php
  backend/app/Providers/PhpSyntaxChecker.php
Due: php-lint, php-test, php-compatibility-check

chore: bump gh actions version
  .github/workflows/plugin-check.yml
Due: none

refactor: add consistent prefix, compatibility layer, and clean up codebase - Introduce Compatibility/Deprecated classes for deprecation handling - Update Config, Plugin, and various provider classes
  backend/app/Compatibility/Deprecated.php
  backend/app/Compatibility/deprecated-functions.php
  backend/app/Config.php
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Http/Controllers/LogController.php
  backend/app/Http/Controllers/PermissionsController.php
  backend/app/Http/Controllers/SettingsController.php
  backend/app/Http/Controllers/TelemetryPopupController.php
  backend/app/Http/Middleware/CapCheckerMiddleware.php
  backend/app/Http/Middleware/NonceCheckerMiddleware.php
  backend/app/Http/Requests/Log/DeleteLogRequest.php
  backend/app/Http/Requests/Permissions/AddUserPermissionRequest.php
  backend/app/Http/Requests/Permissions/PermissionsGetRequest.php
  backend/app/Http/Requests/Permissions/PermissionsUpdateRequest.php
  backend/app/Http/Requests/Permissions/SearchUserRequest.php
  backend/app/Http/Requests/Settings/LangUpdateRequest.php
  backend/app/Http/Requests/Settings/SettingsRequest.php
  backend/app/Http/Requests/Settings/SettingsUpdateRequest.php
  backend/app/Http/Requests/Settings/ThemeUpdateRequest.php
  backend/app/Http/Requests/Settings/ToggleViewRequest.php
  backend/app/Http/Requests/TryPluginRequest.php
  backend/app/Http/Rules/ValidPathRule.php
  backend/app/Http/Rules/ValidUIOptionRule.php
  backend/app/Http/Rules/ValidateCommandsRule.php
  backend/app/Http/Rules/ValidateLangRule.php
  backend/app/Http/Rules/ValidateRolesRule.php
  backend/app/Http/Rules/ValidateThemeRule.php
  backend/app/Http/Rules/ValidateUsersRule.php
  backend/app/Model/Log.php
  backend/app/Model/User.php
  backend/app/Providers/FileManager/Options.php
  backend/app/Providers/HookProvider.php
  backend/app/Providers/InstallerProvider.php
  backend/app/Views/Shortcode.php
  backend/bootstrap.php
Due: php-lint, php-test, php-compatibility-check

refactor: convert finder-loader to TypeScript with modular elFinder patches
  frontend/finder-loader.js
  frontend/finder-loader.ts
  frontend/src/config/config.ts
  frontend/src/lib/elfinder/autoHeight.ts
  frontend/src/lib/elfinder/dialogElevation.ts
  frontend/src/lib/elfinder/emailtoCommand.ts
  frontend/src/lib/elfinder/patches.ts
  frontend/src/lib/elfinder/types.ts
  frontend/src/pages/root/Root.tsx
  frontend/src/pages/root/helpers/configureElFinder.ts
  languages/file-manager.pot
  package.json
  tools/build_elfinder.sh
  tsconfig.json
  vite.config.mts
Due: lint, pretty, ts-check

fix: resolve ESLint errors and fix editor fullscreen sizing
  frontend/finder-loader.ts
  frontend/src/lib/elfinder/autoHeight.ts
  frontend/src/lib/elfinder/emailtoCommand.ts
  frontend/src/lib/elfinder/patches.ts
  frontend/src/pages/root/Root.tsx
  frontend/src/pages/root/helpers/configureElFinder.ts
  frontend/src/resource/styles/plugin.css
  languages/file-manager.pot
Due: style-lint, lint, pretty, ts-check
