Repository Bit-Apps-Pro/file-manager: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

style-lint:
  run: pnpm stylelint {staged_files} --aei --fix --quiet

php-lint:
  run: composer lint

php-test:
  run: composer test {staged_files}

php-compatibility-check:
  run: composer compat {staged_files}

lint:
  run: pnpm eslint frontend

pretty:
  run: pnpm pretty:fix

ts-check:
  run: pnpm ts-check

refactor: simplify permission resolvers and modal tooltip
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Providers/PermissionsProvider.php
  frontend/src/pages/Permissions/ui/AddUserPermissionModal.tsx
Due: php-lint, php-test, php-compatibility-check, lint, pretty, ts-check

fix: version in config
  backend/app/Config.php
  languages/file-manager.pot
  languages/generatedString.php
Due: php-lint, php-test, php-compatibility-check

ci: update GitHub Actions to latest versions
  .github/workflows/deploy.yml
  .github/workflows/plugin-check.yml
  .github/workflows/test-all.yml
Due: none

fix: bind permission gate to *.pre to close arbitrary file delete/read
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Providers/AccessControlProvider.php
  tests/CheckPermissionStrictTest.php
Due: php-lint, php-test, php-compatibility-check

refactor: extract EXEMPT_COMMANDS const, harden exempt-list test
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Providers/AccessControlProvider.php
  tests/CheckPermissionStrictTest.php
Due: php-lint, php-test, php-compatibility-check

fix: enforce connector command denial
  backend/app/Http/Controllers/FileManagerController.php
Due: php-lint, php-test, php-compatibility-check

fix: don't block file-preview at connector pre-check
  backend/app/Http/Controllers/FileManagerController.php
  backend/app/Providers/AccessControlProvider.php
  tests/CheckPermissionStrictTest.php
Due: php-lint, php-test, php-compatibility-check

ci: fix github-actions lefthook hook (lint:css, test)
  .stylelintrc.json
  frontend/src/components/utilities/IconBtn/IconBtn.module.css
  frontend/src/components/utilities/SpinnerLoader/SpinnerLoader.module.css
  frontend/src/components/utilities/SpinnerLoader/SpinnerLoader.module.scss
  frontend/src/config/test.setup.ts
  frontend/src/pages/Layout/ui/Navigation/TopNavigation/TopNavigation.module.css
  frontend/src/resource/styles/global.css
  frontend/src/resource/styles/plugin.css
  frontend/src/resource/styles/variables.css
  package.json
Due: style-lint, lint, pretty, ts-check

test: cover the file-command escape hatch (connector safety)
  tests/FileCommandEscapeHatchTest.php
Due: php-lint, php-test

fix: enforce authorization on REST endpoints (wire cap middleware)
  backend/app/Providers/HookProvider.php
  backend/hooks/api.php
Due: php-lint, php-test, php-compatibility-check

chore(release): 6.9.1
  backend/app/Config.php
  file-manager.php
  package.json
  readme.txt
Due: php-lint, php-test, php-compatibility-check

docs: note the arbitrary file delete/read fix in the 6.9.1 changelog
  readme.txt
Due: none

chore: gitignore .vuln-scan scanner cache/baseline
  .gitignore
Due: none

fix: media sync path traversal — use elFinder's saved file, not the client name
  backend/app/Providers/MediaSynchronizer.php
Due: php-lint, php-test, php-compatibility-check

refactor: split media-sync path guard into two checks
  backend/app/Providers/MediaSynchronizer.php
Due: php-lint, php-test, php-compatibility-check

Path conditions:
  style-lint: any of: *.{css,scss}
  php-lint: any of: *.php
  php-test: any of: *php
  php-compatibility-check: any of: backend/**/*.php
  lint: any of: *.{js,ts,jsx,tsx}
  pretty: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
